{% extends "layout.jinja" %}
{% block content %}
    {% for i in items %}
        {# <p>{{i.name}} - {{quantities[i.id ~ ""]}}</p> #}
        
        {# List #}
        {# <p>{{i["item"].name}} - {{i["quantity"]}}</p>  #}

        {# Dict #}
        <p>{{i["item"].name}} - {{i["quantity"]}}</p>
    {% endfor %}
{% endblock content %}